:root {
  --primary-color: #00f0ff;
  --black: #333333;
  --secondary-color: rgb(43, 43, 43);
  --text-color: #bfbfbf;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-image: url(./images/background.svg);
  background-attachment: fixed;
  text-align: center;
  max-width: 600px;
  min-width: 480px;
}

title{
  color: var(--primary-color);
}

.header{
  margin : 10px;
  padding : 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-bottom-right-radius:20px;

}
.container {
  width: 300px;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

label,
input {
  display: block;
  margin-top: 0.5rem;
  width: 95%;
}

label {
  font-weight: 500;
  font-size: 1.3rem;
  color:var(--primary-color);
  margin: 30px
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  border: transparent;
  font-size: large;
  text-align: center;
  background-color: var(--secondary-color);
  max-width: 300px;
  margin: auto;
  color:var(--text-color)
}

#calculate-number {
  margin: 0.5rem auto;
  display: block;
  background-color: var(--primary-color);
}

#calculate-number {
  border: 2px solid var(--black);
  color: var(--black);
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: var(--black);
  margin: auto;
  display: block;
}

#output-container {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 90%;
  text-align: center;
  padding: 0.5rem;
  font-size: x-large;
  border-color: var(--black);
  border-width: medium;
  border-radius: 5px;
  color: var(--primary-color);
}